# Eclipse
/.classpath
/.project
/.settings

# Intellij
.idea
*.iml
*.ipr

# Maven
target

# Jahia DX Studio
repository.xml.generated

# Javascript
.yarn
.__mf__temp
node
node_modules
src/main/resources/javascript/apps
