.field {
  .dropdown {
    margin-top: var(--spacing-small);
  }

  &:not(:first-child) {
    margin-top: var(--spacing-medium);
  }
}

.btn-untranslated-content {
  float: right;
}

.spacing-small {
  margin-top: var(--spacing-medium);
}

